* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

h2 {
    display: flex;
    justify-content: center;
    color: darkturquoise;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}